/*


body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.banner{
	height: 100vh;
	width: 100%;
	background:url('overlay.png'),url('banner.jpg');
	background-position: top;
	background-size:cover;
	
	background-repeat: no-repeat;
}

.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #e91e63;
}


*/

/* form*/

/* Estilos generales 
.wp-block-group {
	margin: 20px auto;
	max-width: 600px;
  }
  
  .wp-block-jetpack-contact-form {
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 30px;
  }
  
   Estilos de los campos de entrada pythoncla
  label {
	display: block;
	font-weight: bold;
	margin-top: 10px;
  }
  
  input[type="text"],
  input[type="tel"] {
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
	font-size: 16px;
	padding: 10px;
	width: 100%;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  }
  
  input[type="submit"] {
	background-color: #3d9cd2;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	padding: 10px;
	transition: all 0.3s;
	width: 100%;
  }
  
  input[type="submit"]:hover {
	background-color: #2b7aa4;
  }
  
*/

