{% extends "AppCoder/base.html" %}
{% load static %}


{% block main%}
<div class="col-md-8 offset-md-2 info">
       
  <h1 class="text-center">Registro Vehicular</h1>
  <main class="wp-block-group">

  {% if form.errors %}
  
    <p style="color: red;"> Están mal los datos, revisar</p>

  {% endif %}

  <div class="wp-block-jetpack-contact-form" style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px;">
      <form action="" method="POST">{% csrf_token %}
        
          {{ form.as_p }}

        <input type="submit", value="Enviar">

      </form>
    </div>
  </main>
  

</div>

{% endblock %}