{% extends "AppCoder/base.html" %}
{% load static %}


{% block main%}
<div class="col-md-8 offset-md-2 info">
       
 
  <h1 class="text-center">Registro de Usuario</h1>
  <main class="wp-block-group">
    <div class="wp-block-jetpack-contact-form" style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px;">
      <form>
        <label for="nombre">Nombre *</label>
        <input type="text" name="nombre" id="nombre" required>
        <label for="apellido">Apellido *</label>
        <input type="text" name="apellido" id="apellido" required>
        <label for="dni">DNI</label>
        <input type="number" name="dni" id="dni">
        <label for="user">User *</label>
        <input type="text" name="user" id="user" required>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </main>
</div>

{% endblock %}